<h1 class="center-align">Profile</h1>

<div class="row">
    <div class="col s10">

        <div class="row">
            <div class="col s4">
                <label for="username">Username</label>
                {{#if isUser}}
                    {{user.username}} 
                {{else}}
                    {{provider.username}}
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col s4">
                <label for="email">Email</label>
                {{#if isUser}}
                    {{user.email}} 
                {{else}}
                    {{provider.email}}
                {{/if}}
            </div>

            <div class="row">
                <div class="col s4">
                    <label for="profile">Profile</label>
                    {{#if isUser}}
                   <input type="text" placeholder="{{user.profile}}"> 
                    {{else}}
                    <input type="text" placeholder="{{provider.profile}}">
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    <label for="profile">Zipcode</label>
                    {{#if isUser}}
                   <input type="text" placeholder="{{user.zipcode}}"> 
                    {{else}}
                    <input type="text" placeholder="{{provider.zipcode}}">
                    {{/if}}
                </div>
            </div>

    </div>
</div>