
                {{#if createATicket}}
                <h1 class="center-align">Create a Ticket</h1>

        <div class="row">
            <div class="col s10">
                <div class="row">
                    <div class="col s6">
                    <label for="description">Description:</label>
                    <input id="description" type="text" placeholder="Tell us what you need">
                    <label for="date">Date</label>
                    <input id="date" type="date">
                    <label for="pay">Pay</label>
                    <input id="pay" type="text" placeholder="How much are you willing to pay?">
                    <button id="createticket" data-uid="{{uid}}" class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i data-uid="{{uid}}" class="material-icons right">send</i>
                    </button>
                    <script src="/js/createticket.js"></script>
                {{else}}
<h1 class="center-align">View Ticket Details</h1>

<div class="row">
    <div class="col s10">

        <div class="row">
            <div class="col s6">
                    <label for="description">Description:</label>
                    <p>{{ticket.description}}</p>
                    <label for="date">Date</label>
                    <p>{{ticket.date}}</p>
                    <label for="pay">Pay</label>
                    <p>{{ticket.pay}}</p>
                    {{#if provider}}
                    <label for="provider">Provider's Information:</label>
                    <p>{{provider.username}} {{provider.email}}</p>
                        {{/if}}
                    {{#if isProvider}}
                    <label for="distance">Distance</label>
                    <p>{{distance}}</p>
                        {{#if noProvider}}
                            <label for="email">Email</label>
                            <p>{{ticket.User.email}}</p>
                            <label for="button"></label>
                            <button id="acceptbtn" class="btn waves-effect waves-light" type="submit" name="action" data-uid="{{uid}}">Accept Request
                                <i class="material-icons right">send</i>
                        {{else}}
                            <p>This ticket is already claimed by another provider.</p>
                        {{/if}}
                    {{/if}}
                    <script src="/js/ticket.js"></script>
                {{/if}}


            </div>
        </div>
    </div>
</div>
