
    <div class="row">
        <section class="col s12">
            <section class="col s4 ">
{{#if isUser}}
            <h4>Tickets History</h4>
{{else}}
            <h4>More available tickets</h4>
{{/if}}
            <ul class="green lighten-1">
{{#each tickets as |ticket|}}
                <li>
{{#if ticket.provider_id}} 
            <i class="material-icons">directions_run</i> 
{{else}}
            <i class="material-icons">access_time</i> 
{{/if}}
            <a class="black-text" href="/ticket/{{ticket.id}}">{{ticket.date}}  ${{ticket.pay}}</a> 
                </li>
            
{{/each}}
            </ul>

               <h4>Acccepeted Tickets</h4>
                <ul class="green lighten-1">
                
{{#each providerTickets as |ticket|}}
<li>
 <a class="black-text" href="/ticket/{{ticket.id}}">{{ticket.date}}  {{ticket.distance}}</a> 
</li>
               
{{/each}}
               </ul>

            </section>

    <section class="col s8">
{{#if isUser}}
            <h4>Upcoming ticket</h4>
{{else}}
            <h4>Upcoming available ticket</h4>
{{/if}}
        <div class="card-panel green lighten-1">

{{#if recentTicket}}
                <p>Date: {{recentTicket.date}}</p>
                <p>Description: {{recentTicket.description}}</p> 
                <p>Pay: ${{recentTicket.pay}}</p>
{{#if recentTicket.provider_id}}
                <p>Provider: {{recentTicket.Provider.email}}</p>
{{/if}} 
                <a class="blue lighten-2 black-text" href="/ticket/{{recentTicket.id}}">See more details</a>
{{else}}
            <h4>No tickets available.</h4>
{{/if}}
        </div>
    </section>
    </section>
    
{{#if isUser}}
    <script src="/js/user.js"></script>
{{else}}
    <script src="/js/provider.js"></script>
{{/if}}
