
    <div class="row">
        <section class="col s12">
        <section class="col s4 ">
            <h3>Requests History</h3>
    
            <ul class="green lighten-1">
                {{#each tickets as |ticket|}}
                <li>
                    <a href="/ticket/{{ticket.id}}">{{ticket.date}}</a>
                </li>
                {{/each}}
        </section>

        <section class="col s8">
            <h3>Last Request</h3>
             <div class="card-panel green lighten-1"></div>

            {{#if recentTicket}}
                <p>Request ID: {{recentTicket.id}}</p>
                <p>Request Date: {{recentTicket.date}}</p>
                <p>Request Description: {{recentTicket.description}}</p> 
                <p>Request Pay: {{recentTicket.pay}}</p>
                {{#if recentTicket.provider_id}}
                <p>Provider: {{recentTicket.provider_id}}</p>

                {{/if}} 
            {{else}}
            <h3>No tickets available.</h3>
            {{/if}}
              </div>
        </section>
    </section>
   <script src="/js/users.js"></script>